.button {
    width: 280px;
    height: 37px;
    background: var(--color-blue2);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: var(--color-white);
    box-sizing: border-box;
    
}

.button:hover {
    cursor: pointer;
}

.button-upload {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    box-sizing: border-box;
    background: var(--color-gray3);
    border: 1px solid var(--color-gray3);
    line-height: 24px;
    color: var(--color-gray5);
}

.button-submit {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    box-sizing: border-box;
    border: 1px solid var(--color-blue2);
    line-height: 24px;
}