<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../../components/form/groupItem.css">
    <link rel="stylesheet" href="../../components/buttons/primaryButton.css">
    <link rel="stylesheet" href="../../components/buttons/linkButton.css">
    <link rel="stylesheet" href="authorization.css">
    <title>{{pages.signin.title}}</title>
</head>
<body>
    <div class="container">
        <div class="container__title">
            <span>{{pages.signin.title}}</span>
        </div>
        <form id="signin-form" action="" class="container__form">
            <div class="container__fields">
                {{> form/groupItem id="login" name="login" label="Логин" value=""}}
                {{> form/groupItem id="password" name="password" label="Пароль" type="password" value=""}}
            </div>
            <div class="container__buttons">
                {{> buttons/primaryButton id="submit" form="signin-form" type="submit" text="Авторизоваться"}}
                {{> buttons/linkButton href=pages.signup.href text="Нет аккаунта?"}}
            </div>
        </form>
    </div>
</body>
</html>