.error-container {
    text-align: center;

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
    }

    &__body {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin-top: 20px;
    }

    &__buttons {
        margin-top: 40px;
    }
}