<a
    {{#if href}}
    href="{{href}}"
    {{/if}}
    {{#if id}}
    id="{{id}}"
    {{/if}}
    class="link-button {{#if class}}{{class}}{{/if}}"
>
    <span>
        {{#if text}}
        {{text}}
        {{/if}}
    </span>
</a>