---
title: Изменить данные
css:
- changeProfileData.css
---
{{!< profile/profile }}
<div class="container">
        <div class="container__title">
            <span></span>
        </div>
        <form id="profile-form" action="" class="container__form">
            <div class="container__fields">
                {{> form/groupItem id="email" name="email" class="group-item-side" label="Почта" value=user.email}}
                {{> form/groupItem id="login" name="login" class="group-item-side" label="Логин" value=user.login}}
                {{> form/groupItem id="first_name" name="first_name" class="group-item-side" label="Имя" value=user.firstName}}
                {{> form/groupItem id="second_name" name="second_name" class="group-item-side" label="Фамилия" value=user.secondName}}
                {{> form/groupItem id="display_name" name="display_name" class="group-item-side" label="Имя в чате" value=user.displayName}}
                {{> form/groupItem id="phone" name="phone" class="group-item-side" label="Телефон" value=user.phone}}
            </div>
            <div class="container__buttons">
                {{> buttons/primaryButton id="submit" form="profile-form" type="submit" text="Сохранить"}}
            </div>
        </form>
    </div>