---
title: Изменить пароль
css:
- changePassword.css
---
{{!< profile/profile }}
<div class="container">
        <div class="container__title">
            <span></span>
        </div>
        <form id="password-form" action="" class="container__form">
            <div class="container__fields">
                {{> form/groupItem id="oldPassword" name="oldPassword" class="group-item-side" label="Старый пароль" type="password" value=""}}
                {{> form/groupItem id="newPassword" name="newPassword" class="group-item-side" label="Новый пароль" type="password" value=""}}
                {{> form/groupItem id="confirmPassword" name="confirmPassword" class="group-item-side" label="Повторите новый пароль" type="password" value=""}}
            </div>
            <div class="container__buttons">
                {{> buttons/primaryButton id="submit" form="password-form" type="submit" text="Сохранить"}}
            </div>
        </form>
    </div>