<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../../components/form/groupItem.css">
    <link rel="stylesheet" href="../../components/buttons/primaryButton.css">
    <link rel="stylesheet" href="../../components/buttons/linkButton.css">
    <link rel="stylesheet" href="../../layouts/profile/profile.css">
    {{#each css}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>{{title}}</title>
</head>
<body>
    <div class="main-container">
        <a href="{{pages.chat.href}}" class="main-container__left-panel left-panel">
            <span class="left-panel__button"><</span>
        </a>
        <div class="main-container__right-panel">
            <div class="main-container__header header">
                <label for="avatar-upload" class="header__avatar">
                    <input id="avatar" class="header__upload" type="file" hidden="true"/>
                </label>
            </div>
            {{{body}}}
        </div>
    </div>
</body>
</html>